@import "common";
@media (max-width: 1199px) {
  .shape {
    display: none;
  }
  #profile {
    margin-bottom: 10px;
    .content {
      padding: 60px 0;
      .wrp {
        max-width: calc(100% - 40px);
        flex-direction: column;
        .left {
          width: 100%;
          margin-bottom: 40px;
        }
        .right {
          width: 100%;
          .owl-nav {
            display: none;
          }
        }
      }
    }
  }
  #project {
    &:after {
      display: none;
    }
    .wrp {
      padding-bottom: 70px;
    }
  }

  #header1 {
    .wrp {
      width: calc(100% - #{40px});
      align-items: center;
      .logo {
        img {
          height: 40px !important;
        }
      }
      #menu {
        overflow: auto;
        transform: none !important;
        opacity: 1 !important;
        position: fixed;
        width: 80vw;
        height: calc(100vh - #{64px});
        z-index: 21;
        padding: 0;
        background: #fff;
        color: #333;
        top: 58px;
        left: -100%;
        font-size: 20px;
        text-transform: uppercase;
        pointer-events: all !important;
        ul {
          z-index: 21;
          transition: 0.3s all ease-in-out;
          display: block;
          padding: 20px 0;
          .openSub {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            font-size: 20px;

            &.ac {
              i:before {
                content: "\f106";
              }
            }
          }
          li {
            display: flex;
            padding: 0 10px 0 20px;
            justify-content: space-between;
            &.active {
              background: $color-hover !important;
              color: #fff !important;
            }
            &:hover {
              a {
                color: #333 !important;
              }
            }
            a {
              background: transparent !important;
              &:after {
                display: none;
              }
              display: flex;
              padding: 10px 22px;
              align-items: center;
              justify-content: flex-start;
              flex-direction: row;
              border-right: none;
              flex: 1;

              span.icon {
                width: 25px;
                display: inline-block;
                margin: 0;
                margin-right: 10px;

                img {
                  display: block;
                  margin: auto;
                }
              }
            }

            &:hover {
              > ul {
                display: none;
              }

              > a {
                background: transparent;
                color: #fff;
              }
            }
            flex-wrap: wrap;
            ul {
              text-transform: none;
              visibility: visible;
              opacity: 1;
              pointer-events: all;
              padding: 0;
              padding-left: 20px;
              transition: none;
              height: auto;
              display: none;
              width: 100%;
              position: static;
              background: transparent;
              li {
                a {
                  padding: 10px;
                  white-space: normal;
                  > i {
                    display: none;
                  }
                }
              }
            }
            .toggleSearch {
              display: none;
            }
          }
        }
        &.ac {
          left: 0;
        }
        .searchForm {
          display: block !important;
          position: static;
          opacity: 1 !important;
          margin-top: 10px;
          height: 40px;
          width: 100%;
          > div {
            width: 100%;
            .btnSearch {
              flex: none;
              color: #333;
            }
          }
        }
      }
    }
  }
  #iconService2 {
    pointer-events: all !important;
    transform: translate3d(0, -50%, 0) !important;
    opacity: 1 !important;
    .group {
      width: 100%;
      .item {
        > a .text {
          font-size: 11px;
          margin-top: 2px;
        }
      }
    }
    .toggleSearch {
      display: none;
    }
  }
  .openList {
    display: block;
    width: 20px;
    margin-left: 15px;
    hr {
      -moz-transition: 0.5s all ease-in-out;
      background: #333;
      border: 1px solid #333;
      transition: 0.5s all ease-in-out;
      z-index: 98;
      opacity: 1;
      margin: 5px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.ac {
      position: relative;
      z-index: 21;
      hr:nth-child(2) {
        opacity: 0;
      }
      hr:nth-child(1) {
        background: #333;
        border-color: #333;
        transform: rotate(135deg) translateX(0px) translateY(-7px);
      }
      hr:nth-child(3) {
        background: #333;
        border-color: #333;
        transform: rotate(-135deg) translateX(3px) translateY(10px);
      }
    }
  }
  #contactChat {
    display: none;
  }
  #footer {
    .wrp {
      width: calc(100% - #{40px});
      .left {
        width: 37%;
        padding-right: 30px;
      }
      .right {
        .group {
          .nameCate {
            font-size: 15px;
          }
          .group {
            padding: 10px;
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .wrp {
    width: calc((100% - 20px));
  }
  #whyAboutUs {
    background: rgb(13, 13, 132);
    &:before {
      display: none;
      width: 100%;
    }
    .wrp {
      padding: 50px 30px;
      flex-wrap: wrap;
      .left {
        width: 100%;
      }
      .right {
        margin-top: 70px;
        margin-bottom: 0;
        flex: none;
        padding-left: 0px;
        gap: 20px;
        width: 100%;
        .item {
          width: calc((100% - 20px) / 2);
          margin-bottom: 30px;
          min-height: auto;
        }
      }
    }
  }
  #workProcess {
    padding-top: 60px;
    .wrp {
      width: calc(100% - 20px);
    }
  }
  #staff {
    &:after {
      width: 100%;
      border-radius: 0;
    }
  }
  #contact {
    &:after {
      width: 100%;
      border-radius: 0;
    }
    .wrp {
      .right {
        padding-left: 20px;
      }
    }
  }
  #promise {
    .wrp {
      .group {
        .item {
          flex: auto;
        }
      }
    }
  }
  #footer {
    background-position: left top;
    font-size: 15px;
    .wrp {
      flex-direction: column;
      .left {
        margin-bottom: 30px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
          margin-bottom: 20px;
        }
        > div {
          display: flex;
          > div {
            flex: 1;
            padding-right: 30px;
          }
        }
        width: 100%;
      }
      .right {
        .group {
          .list {
            display: block;
            li a {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  %title {
    font-size: 30px;
  }
  #header {
    overflow: hidden;
    border-radius: 0;
    padding-bottom: 0;
    .wrp {
      flex-wrap: wrap;
      .left {
        width: 100%;
        .title {
          .top {
            .text {
              font-size: 40px;
            }
          }
          .bot {
            .text {
              font-size: 30px;
            }
          }
        }
        .des {
          margin-bottom: 30px;
        }
        .lstBtn {
          justify-content: center;
        }
      }
      .right {
        width: 100%;
        margin-top: 20px;
        .bgRight {
          .wImage {
            width: 100%;
          }
        }
      }
    }
  }
  #whyAboutUs {
    border-bottom-right-radius: 50px;
    .wrp {
      padding-left: 0;
      padding-right: 0;
      .left {
        .title {
          > span {
            font-size: 30px;
          }
        }
        .des {
          margin-bottom: 0;
        }
      }
      .right {
        .item {
          width: 100%;
        }
      }
      .lstBtn.dbmobile-l {
        display: flex !important;
        width: 100%;
        justify-content: center;
      }
    }
  }
  #workProcess {
    padding-top: 40px;
    .wrp {
      .title {
        font-size: 30px;
        margin-bottom: 20px;
      }
      .group {
        margin-bottom: -20px;
        border-radius: 0;
        flex-direction: column;
        .left,
        .right {
          border-radius: 30px;
          width: 100%;
          flex: none;
        }
      }
    }
  }

  #staff {
    padding: 40px 0;
    .wrp {
      width: 100%;
      .title {
        font-size: 30px;
        margin-bottom: 20px;
      }
      .group {
        margin-top: 0;
        .item {
          .content {
            padding-top: 10px;
            flex-direction: column;
            .wImage {
              width: 130px;
            }
            .info {
              margin-top: -60px;
              padding-top: 70px;
              width: 100%;
              border-radius: 8px;
              .list {
                li {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
  #promise {
    .wrp {
      .title {
        font-size: 27px;
      }
      .group {
        padding: 20px 0;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        .item {
          padding-left: 10px;
          padding-right: 10px;
          align-items: flex-start;
          border: none;
          width: 50%;
          .top {
            .num {
              font-size: 35px;
            }
          }
          .content {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
  #contact {
    padding: 30px 0;
    .wrp {
      flex-direction: column-reverse;
      .left,
      .right {
        width: 100%;
      }
      .right {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        .rpTop {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
        }
        .price {
          justify-content: space-between;
          margin-top: 20px;
          .pRight {
            padding-left: 0;
          }
          .pLeft {
            width: 180px;
            .cownDown {
              li {
                width: 40px;
                line-height: 40px;
                flex: none;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  #profile {
    .title {
      font-size: 30px;
    }
    .content {
      .wrp {
        .name {
          font-size: 25px;
        }
      }
    }
  }
  #project {
    .wrp {
      .title {
        font-size: 30px;
      }
    }
  }
  #header1 {
    .wrp {
      width: calc(100vw - #{20px});
    }
  }
  #footer .wrp {
    width: calc(100vw - #{20px});
    .left {
      > div {
        width: 100%;
        flex-direction: column;
        > div {
          flex: none;
        }
      }
    }
    .right {
      flex-direction: column;
      .group {
        padding: 0;
        width: 100%;
        .nameCate {
          padding-bottom: 0;
          display: flex;
          justify-content: space-between;
          i {
            display: flex;
            width: 30px;
            align-items: center;
            justify-content: flex-end;
            &.active {
              &:before {
                content: "\f106";
              }
            }
          }
          &:after {
            display: none;
          }
        }
        .list {
          display: none;
          margin-bottom: 25px;
        }
        .workTime {
          font-size: 17px;
        }
      }
    }
  }
  #botMobile {
    padding: 0 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex !important;
    z-index: 20;
    gap: 5px;
    .btnBanner {
      background: $color-hover2;
      flex: 1;
      color: #fff;
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      border-radius: 7px 7px 0 0;
      font-size: 13px;
      white-space: nowrap;
      font-weight: bold;
      span {
        margin-right: -1px;
        display: inline-block;
        &.in {
          -webkit-animation: ah-rotate-3-in 0.6s forwards;
          animation: ah-rotate-3-in 0.6s forwards;
        }
        &.out {
          -webkit-animation: ah-rotate-3-out 0.6s forwards;
          animation: ah-rotate-3-out 0.6s forwards;
        }
      }
    }
  }
  #afterFoot {
    padding-bottom: 50px;
  }
}

@media (max-width: 479px) {
  #header1 {
    .wrp {
      #menu {
        ul {
          li {
            a {
              font-size: 15px;
              line-height: 20px;
              padding: {
                left: 0;
                right: 0;
              }
            }
            ul {
              li {
                a {
                  padding-top: 7px;
                  padding-bottom: 7px;
                }
              }
            }
          }
        }
      }
    }
  }
}
